# Node
node_modules/
dist/
.env
.env.*

# Amplify sensitive
amplify/team-provider-info.json
amplify/.config/project-config.json
amplify/backend/backend-config.json
amplify/#current-cloud-backend
amplify/backend/amplify-meta.json

# Local Function Secrets
amplify/backend/function/**/src/utils/createCredentials.mjs
amplify/backend/function/**/src/utils/verifyIdToken.mjs

# Vite
.vite/

# IDE
.vscode/
.idea/

# Others
.DS_Store
*.log